*.kpt
*.cdb
*.hdb
*.qmsg
*.rdb
*.xml
*.idb
*.hif
*.bak
*.rpt
*.summary
*.rpt
*.hdb
*.rdb
*.txt
*.html
*.pin
*.pof
*.done
*.sci
*.db_info
*.hier_info
*.sld
*.db_info
*.qpf
*.jdi
VHDL-Project/incremental_db/README
*.kpt
*.ddb
*.smsg
*.qsf
*.ammdb
*.flock
*.logdb
*.tdb
*.tmw_info
work/*
*.wlf
*.tdf
